<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MIS566_group_project.Properties.Settings.LNBAirlinesConnectionString"
            connectionString="Data Source=laptop-thfppv9b\sqlexpress;Initial Catalog=LNBAirlines;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>